*{
    margin: 0;
    padding: 0;
}

.navigation{
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
}
.nav-left span{
    font-size: 22px;
    cursor: pointer;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 12px;
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.content{
    /* height: 95px; */
    /* background: purple; */
    display: flex;
    font-style: var(--font2);
}
.content-left{
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
   
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 20rem;
    border: 1px solid black;
    border-radius: 50%;
}

.footer{
    height: 50px;
    background-color: yellow;
}