@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@300&display=swap');

:root{
    --main-bg-color: wheat;
    --font1:'Baloo Bhai 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.btn{
    cursor: pointer;
    border: 1px solid black;
    padding: 2px 8px;
    font-size: 13px;
    background-color: rgb(248, 239, 239,0.5);
    color: black;
    font-style: var(--font2);
    border-radius: 5px;
    transition: all 0.8s ease-in-out;
    font-weight:700;
}
.btn:hover{
    background-color: black;
    color: white;
}

.form-input{
    padding: 3px 2px;
    text-align: center;
    font-size: 15px;
    margin-right: 6px;
    border-radius: 5px;
    border: 1px solid black;
    font-style: var(--font2);

}